{% load staticfiles %}
<div class="container">
<h2>Example: Drag and Drop File Upload using jQuery and PHP</h2>
<div class="file_upload">
<form action="/polls/submit_image/" method="post" id="test" class="dropzone">
	{% csrf_token %}
<div class="dz-message needsclick">
<strong>Drop files here or click to upload.</strong><br />
<span class="note needsclick">(This is just a demo. The selected files are <strong>not</strong> actually uploaded.)</span>
</div>
<input type="text" name="name">
</form>
</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'polls/dropzone.css' %}" />


<script type="text/javascript" src="{% static 'polls/dropzone.js' %}"></script>